.btn {
	font-family: $font-secondary;
	font-size: .8rem;
	background-color: $accent-color-blue;
	color: $color-white;
	border: 0.1rem solid $accent-color-blue;
	border-radius: 50px;
	min-width: 10rem;
	padding: .5rem 1rem;
	text-align: center;
	margin-bottom: .5rem;
	text-decoration: none;
	transition: .4s all;
}

.btn:hover {
	background-color: $color-white;
	color: $accent-color-blue;
	cursor: pointer;
}

.btn[disabled]:hover {
	cursor: not-allowed;
	transform: none;
}

.btn-intro {
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-intro:hover {
	background-color: $accent-color-yellow;

	@include respond-768 {
		background-color: $color-white;
	}
}

.btn-start {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 3rem;

	@include respond-480 {
		font-size: .8rem;
		height: 2rem;
	}
}

.btn-quiz {
	margin: 2rem auto 0;
}
