.header {
	background-color: $color-white;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-image {
	display: block;
	width: 100px;
	border-right: 2px solid $color-D2L;
	padding-right: 1rem;
}

.logo-text {
	color: $color-D2L;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 1rem;
}

.menu-list {
	display: flex;
	justify-content: space-between;
}

.fa-home {
	background-color: $color-background;
	color: $color-font;
	border: 1px solid $color-background;
	border-radius: 50px;
	padding: .7rem;
	transition: .4s all;
}

.fa-home:hover {
	background-color: $accent-color-red;
	color: $color-white !important;
}
