/* COLOR VARIABLES */
$accent-color-blue: #3369ff;
$accent-color-red: #e21308;
$accent-color-yellow: #fdce23;
$color-font: #333;
$color-white: #fff;
$color-background: #f6f6f6;
$color-D2L: #f0742c;
$color-green: #28a745;

/* FONT VARIABLES */
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Monserrat', sans-serif;
$font-tertiary: 'Karla', sans-serif;
