/* COLOR VARIABLES */
$accent-color-blue: #3C71FF;
$accent-color-red: #F9584F;
$accent-color-yellow: #FDCE23;
$color-font: #333;
$color-white: #FFF;
$color-background: #F6F6F6;
$color-D2L: #F0742C;
$color-green: #28a745;

/* FONT VARIABLES */
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Monserrat', sans-serif;
$font-tertiary: 'Karla', sans-serif;
