.end-page {
	position: relative;

	&__flex-center {
		justify-content: center;
		align-items: center;
	}

	&__final-score {
		font-size: calc(1rem + 1vw);
		margin-bottom: 2rem;
	}
}

.circle-shape {
	background-color: $accent-color-yellow;
	border-radius: 50%;
	position: absolute;
}

.circle-small {
	width: calc(2rem + 10vw);
	height: calc(2rem + 10vw);
	top: 10%;
	right: -5%;
}

.circle-large {
	width: calc(6rem + 10vw);
	height: calc(6rem + 10vw);
	bottom: 10%;
	left: -5%;

	@include respond-768 {
		width: calc(2rem + 10vw);
		height: calc(2rem + 10vw);
	}
}

.triangle-small {
	border: calc(2rem + 5vw) solid transparent;
	border-top-color: $accent-color-red;
	border-bottom: 0;
	border-left: 0;
	width: 0;
	height: calc(2rem + 5vw);
	position: absolute;
	top: 10%;
	right: -5%;
	transform: rotate(-360deg);
	animation: rotate infinite 15s both linear;
}

.triangle-large {
	border: calc(4rem + 5vw) solid transparent;
	border-top-color: $accent-color-red;
	border-bottom: 0;
	border-left: 0;
	width: 0;
	height: calc(4rem + 5vw);
	position: absolute;
	bottom: 10%;
	left: -3%;
	transform: rotate(360deg);
	animation: rotate infinite 15s both linear;

	@include respond-768 {
		border: calc(1rem + 5vw) solid transparent;
		border-top-color: $accent-color-red;
		height: calc(1rem + 5vw);
		bottom: 10%;
		left: -5%;
	}
}
