.intro {
	&__container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 80rem;
		margin: 0 auto;
	}

	&__info {
		background: linear-gradient(90deg, $accent-color-yellow 45%, $accent-color-red 10%);
		border: 1px solid $color-white;
		border-radius: 3rem;
		padding: 5rem 3rem;

		@include respond-768 {
			background: linear-gradient(180deg, $accent-color-yellow 50%, $accent-color-red 30%);
			padding: 3rem 2rem 2rem;
		}
	}

	&__heading {
		font-family: $font-primary;
		font-size: calc(1rem + 3vw);
		margin-bottom: 4rem;
	}

	&__span {
		font-family: $font-tertiary;
		display: block;
		font-size: 1.4rem;
	}

	&__link {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		@include respond-768 {
			flex-direction: column;
			align-items: 
			center;
		}
	}
}

.level {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include respond-768 {
		order: -1;
		margin-bottom: 1rem;
	}

	&__badge {
		background-color: $accent-color-yellow;
		border: 1px solid $accent-color-yellow;
		border-radius: 0 0 50px 50px;
		padding: .5rem;
	}

	&__title {
		font-size: .6rem;
		font-weight: bold;
	}
}
