.lesson {
	display: flex;

	@include respond-768 {
		flex-direction: column;
	}

	&__aside-container {
		background-color: $color-white;
		border: 1px solid $color-white;
		border-radius: 10px;
		padding: 2rem 2rem 0;
		margin: 5rem 2rem 0 0;
		height: max-content;

		@include respond-768 {
			padding: 1rem;
			margin: 2rem 0;
		}
	}

	&__student-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&__aside-items {
		@include respond-768 {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__aside-item {
		padding-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond-768 {
			padding-bottom: 0;
		}
	}

	&__aside-initial {
		@include respond-768 {
			display: none;
		}
	}

	&__aside-home {
		display: none;

		@include respond-768 {
			display: block;
		}
	}

	&__title {
		font-family: $font-primary;
		font-size: calc(1rem + 3vw);
		margin: 4.5rem 0;

		@include respond-768 {
			margin: 2rem 0 4rem;
		}
	}

	&__header:before {
		@include before;
		top: 4px;
	}

	&__header {
		@include lesson-heading;
	}

	&__text:before {
		content: "";
		display: inline-block;
		width: 40px;
		height: 2px;
		background: $accent-color-blue;
		position: relative;
		top: -4px;
		padding: 0;
		margin: 0 10px 0 0;
	}

	&__text {
		font-size: .9rem;

		@include respond-480 {
			font-size: .8rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 4rem;
		grid-row-gap: 1rem;
		margin: 2rem 0;
	}

	&__item {
		font-size: .9rem;
		line-height: 1.6rem;
		background-color: $color-white;
		border: 1px solid $color-white;
		border-radius: 10px;
		padding: 2rem;
		min-height: 150px;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include respond-768 {
			display: block;
			min-height: 0;
		}

		@include respond-480 {
			font-size: .8rem;
			padding: 1.5rem;
		}
	}

	&__item-span {
		padding-right: 1rem;
		font-size: 4rem;

		@include respond-768 {
			padding-right: 0;
			font-size: 3rem;
		}
	}
}

.student-initial {
	border: 1px solid $color-background;
	border-radius: 50px;
	background-color: $accent-color-red !important;
	color: $color-white !important;
	border: 1px solid $color-white !important;
	padding: .8rem .7rem .7rem;
}

.circle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fa-cubes,
.fa-youtube,
.fa-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: $color-background;
	color: $color-font;
	border: 1px solid $color-background;
	border-radius: 50px;
	padding: .7rem;
	transition: .4s all;
	margin-bottom: .5rem;
}

.fa-cubes:hover,
.fa-youtube:hover {
	color: $color-white;
	background-color: $accent-color-red;
}

.aside-title {
	font-size: .7rem;

	@include respond-480 {
		font-size: .6rem;
	}
}

.span-blue {
	color: $accent-color-blue;
}

.span-red {
	color: $accent-color-red;
}

.assessment {

	&__container {
		display: flex;
		flex-direction: column;
		margin: 6rem 0 10rem;
	}

	&__heading:before {
		@include before;
		top: 5px;
	}

	&__heading {
		@include lesson-heading;
	}

	&__go {
		background-color: $color-white;
		border: 1px solid $color-font;
		border-radius: 10px;
		padding: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;

		@include respond-1280 {
			padding: 2rem;
			justify-content: center;
		}
	}

	&__image {
		width: 50%;

		@include respond-1280 {
			width: 60%;
			order: -1;
			margin-bottom: 2rem;
		}

		@include respond-480 {
			width: 100%;
			order: -1;
			margin-bottom: 2rem;
		}
	}

	&__img {
		width: 100%;
	}
}

.video {
	margin-bottom: 8rem;

	&__heading:before {
		@include before;
		top: 5px;
	}

	&__heading {
		@include lesson-heading;
	}

	&__section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;

		@include respond-480 {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}
	}

	&__container {
		background-color: $color-white;
		border: 1px solid $color-white;
		border-radius: 10px;
		padding: 1.5rem;

		@include respond-480 {
			padding: 1rem;
		}
	}

	&__info {
		font-size: .8rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1rem;

		@include respond-480 {
			font-size: .6rem;
		}
	}
}

.iframe-container {
	width: 100%;
	min-height: 200px;

	@include respond-480 {
		min-height: 100px;
	}
}

iframe {
	width: 100%;
	min-height: 200px;
	object-fit: cover;

	@include respond-480 {
		min-height: 100px;
	}
}