/* COLOR VARIABLES */
/* FONT VARIABLES */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360px);
            transform: rotate(360px);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360px);
            transform: rotate(360px);
  }
}

a.skip-link {
  font-size: 1.2rem;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
  background-color: #3369ff;
  padding: 10px;
  color: #fff;
}

a.skip-link:focus {
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

* {
  margin: 0;
  padding: 0;
  color: #333;
}

html {
  font-family: "Monserrat", sans-serif;
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #f6f6f6;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

p {
  line-height: 1.6rem;
}

input,
button,
textarea {
  outline: 0;
  border: none;
}

.btn {
  font-family: "Monserrat", sans-serif;
  font-size: .8rem;
  background-color: #3369ff;
  color: #fff;
  border: 0.1rem solid #3369ff;
  border-radius: 50px;
  min-width: 10rem;
  padding: .5rem 1rem;
  text-align: center;
  margin-bottom: .5rem;
  text-decoration: none;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.btn:hover {
  background-color: #fff;
  color: #3369ff;
  cursor: pointer;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-transform: none;
          transform: none;
}

.btn-intro {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-intro:hover {
  background-color: #fdce23;
}

@media (max-width: 768px) {
  .btn-intro:hover {
    background-color: #fff;
  }
}

.btn-start {
  font-size: calc(.5rem + 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(15rem + 3vw);
  height: calc(2rem + 2vw);
}

.btn-quiz {
  margin: 2rem auto 0;
}

#loader {
  border: 0.8rem solid #fff;
  border-radius: 50%;
  border-top: 0.8rem solid #3369ff;
  width: 6rem;
  height: 6rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.header {
  background-color: #fff;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
}

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-image {
  display: block;
  width: 100px;
  border-right: 2px solid #f0742c;
  padding-right: 1rem;
}

@media (max-width: 480px) {
  .header__logo-image {
    width: 80px;
  }
}

.header__logo-text {
  color: #f0742c;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
}

@media (max-width: 480px) {
  .header__logo-text {
    font-size: .8rem;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__initial {
  display: none;
}

@media (max-width: 768px) {
  .header__initial {
    display: block;
  }
}

@media (max-width: 480px) {
  .header__initial {
    font-size: .8rem;
  }
}

.fa-home {
  background-color: #f6f6f6;
  color: #333;
  border: 1px solid #f6f6f6;
  border-radius: 50px;
  padding: .7rem;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.fa-home:hover {
  background-color: #f9584f;
  color: #fff !important;
}

.intro__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.intro__info {
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #fdce23), color-stop(10%, #f9584f));
  background: linear-gradient(90deg, #fdce23 45%, #f9584f 10%);
  border: 1px solid #fff;
  border-radius: 3rem;
  padding: 5rem 3rem;
}

@media (max-width: 768px) {
  .intro__info {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fdce23), color-stop(30%, #f9584f));
    background: linear-gradient(180deg, #fdce23 50%, #f9584f 30%);
    padding: 3rem 2rem 2rem;
  }
}

.intro__heading {
  font-family: "Playfair Display", serif;
  font-size: calc(1rem + 3vw);
  margin-bottom: 4rem;
}

.intro__span {
  font-family: "Karla", sans-serif;
  display: block;
  font-size: 1.4rem;
}

.intro__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .intro__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .level {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 1rem;
  }
}

.level__badge {
  background-color: #fdce23;
  border: 1px solid #fdce23;
  border-radius: 0 0 50px 50px;
  padding: .5rem;
}

.level__title {
  font-size: .6rem;
  font-weight: bold;
}

.lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .lesson {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.lesson__aside-container {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 2rem 2rem 0;
  margin: 5rem 2rem 0 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 768px) {
  .lesson__aside-container {
    padding: 1rem;
    margin: 2rem 0;
  }
}

.lesson__student-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .lesson__aside-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.lesson__aside-item {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .lesson__aside-item {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .lesson__aside-initial {
    display: none;
  }
}

.lesson__aside-home {
  display: none;
}

@media (max-width: 768px) {
  .lesson__aside-home {
    display: block;
  }
}

.lesson__title {
  font-family: "Playfair Display", serif;
  font-size: calc(1rem + 3vw);
  margin: 4.5rem 0;
}

@media (max-width: 768px) {
  .lesson__title {
    margin: 2rem 0 4rem;
  }
}

.lesson__header:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #fdce23;
  position: relative;
  top: 4px;
  padding: 0;
  margin: 0 10px 0 0;
}

.lesson__header {
  font-family: "Playfair Display", serif;
  font-size: calc(1.2rem + 1vw);
  margin: .5rem 0 2rem;
}

.lesson__text:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #3369ff;
  position: relative;
  top: -4px;
  padding: 0;
  margin: 0 10px 0 0;
}

.lesson__text {
  font-size: .9rem;
}

@media (max-width: 480px) {
  .lesson__text {
    font-size: .8rem;
  }
}

.lesson__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  margin: 2rem 0;
}

.lesson__item {
  font-size: .9rem;
  line-height: 1.6rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 2rem;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .lesson__item {
    display: block;
    min-height: 0;
  }
}

@media (max-width: 480px) {
  .lesson__item {
    font-size: .8rem;
    padding: 1.5rem;
  }
}

.lesson__item-span {
  padding-right: 1rem;
  font-size: 4rem;
}

@media (max-width: 768px) {
  .lesson__item-span {
    padding-right: 0;
    font-size: 3rem;
  }
}

.student-initial {
  border: 1px solid #f6f6f6;
  border-radius: 50px;
  background-color: #f9584f !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  padding: .8rem .7rem .7rem;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-cubes,
.fa-youtube,
.fa-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  background-color: #f6f6f6;
  color: #333;
  border: 1px solid #f6f6f6;
  border-radius: 50px;
  padding: .7rem;
  -webkit-transition: .4s all;
  transition: .4s all;
  margin-bottom: .5rem;
}

.fa-cubes:hover,
.fa-youtube:hover {
  color: #fff;
  background-color: #f9584f;
}

.aside-title {
  font-size: .7rem;
}

@media (max-width: 480px) {
  .aside-title {
    font-size: .6rem;
  }
}

.span-blue {
  color: #3369ff;
}

.span-red {
  color: #f9584f;
}

.assessment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6rem 0 10rem;
}

.assessment__heading:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fdce23;
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0 10px 0 0;
  border-radius: 50px;
}

.assessment__heading {
  font-family: "Playfair Display", serif;
  font-size: calc(1rem + 1vw);
  margin-bottom: 2rem;
}

.assessment__go {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1280px) {
  .assessment__go {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.assessment__image {
  width: 50%;
}

@media (max-width: 1280px) {
  .assessment__image {
    width: 60%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .assessment__image {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 2rem;
  }
}

.assessment__img {
  width: 100%;
}

.video {
  margin-bottom: 8rem;
}

.video__heading:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fdce23;
  position: relative;
  top: 5px;
  padding: 0;
  margin: 0 10px 0 0;
  border-radius: 50px;
}

.video__heading {
  font-family: "Playfair Display", serif;
  font-size: calc(1rem + 1vw);
  margin-bottom: 2rem;
}

.video__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media (max-width: 480px) {
  .video__section {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.video__container {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1.5rem;
}

.video__info {
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .video__info {
    font-size: .6rem;
  }
}

.iframe-container {
  width: 100%;
  min-height: 200px;
}

@media (max-width: 480px) {
  .iframe-container {
    min-height: 100px;
  }
}

iframe {
  width: 100%;
  min-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  iframe {
    min-height: 100px;
  }
}

.container > * {
  width: 100%;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.container__flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none;
}

.question__heading {
  font-family: "Playfair Display", serif;
  font-size: calc(.8rem + 1vw);
  padding: 2rem 0 1rem;
}

.question__choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.25rem;
  width: 100%;
  font-size: .8rem;
  border: 2px solid #3369ff;
  border-radius: 10px;
  background-color: #fff;
}

.question__choice-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.1rem 0.3rem 0 #3369ff;
          box-shadow: 0 0.1rem 0.3rem 0 #3369ff;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.question__choice-prefix {
  border-radius: 5px 0 0 5px;
  margin: 0;
  padding: .5rem 1rem;
  background-color: #3369ff;
  color: #fff;
}

.question__choice-text {
  margin: 0;
  padding: .5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #f9584f;
}

/* HEAD'S UP DISPLAY */
.hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hud__prefix {
  text-align: center;
  font-size: calc(.5rem + 1vw);
}

.hud__score-num {
  font-size: calc(1rem + 1vw);
  color: #f9584f;
  text-align: center;
}

.progress-bar {
  width: calc(5rem + 10vw);
  height: .8rem;
  border: 1px solid #fdce23;
  border-radius: 50px;
  margin-top: 1rem;
}

.progress-bar__full {
  background-color: #fdce23;
  border-radius: 50px;
  height: .7rem;
  width: 0%;
}

.end-page {
  position: relative;
}

.end-page__flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end-page__final-score {
  font-size: calc(1rem + 1vw);
  margin-bottom: 2rem;
}

.circle-shape {
  background-color: #fdce23;
  border-radius: 50%;
  position: absolute;
}

.circle-small {
  width: calc(2rem + 10vw);
  height: calc(2rem + 10vw);
  top: 10%;
  right: -5%;
}

.circle-large {
  width: calc(6rem + 10vw);
  height: calc(6rem + 10vw);
  bottom: 10%;
  left: -5%;
}

@media (max-width: 768px) {
  .circle-large {
    width: calc(2rem + 10vw);
    height: calc(2rem + 10vw);
  }
}

.triangle-small {
  border: calc(2rem + 5vw) solid transparent;
  border-top-color: #f9584f;
  border-bottom: 0;
  border-left: 0;
  width: 0;
  height: calc(2rem + 5vw);
  position: absolute;
  top: 10%;
  right: -5%;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-animation: rotate infinite 15s both linear;
          animation: rotate infinite 15s both linear;
}

.triangle-large {
  border: calc(4rem + 5vw) solid transparent;
  border-top-color: #f9584f;
  border-bottom: 0;
  border-left: 0;
  width: 0;
  height: calc(4rem + 5vw);
  position: absolute;
  bottom: 10%;
  left: -3%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: rotate infinite 15s both linear;
          animation: rotate infinite 15s both linear;
}

@media (max-width: 768px) {
  .triangle-large {
    border: calc(1rem + 5vw) solid transparent;
    border-top-color: #f9584f;
    height: calc(1rem + 5vw);
    bottom: 10%;
    left: -5%;
  }
}
